body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: pink;
}

.container {
    margin: 0px auto;
    width: 60%;
}

.nav-item {
    margin-left: 10px;
}

.nav-current-item {
    font-weight: bold;
}

.list-heading {
    background-color:#e9e9e9;
}

.post-heading {
    background-color:#e9e9e9;
}